@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

// GLOBALES

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin:0;
    padding:0;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f0f0f0;
    background-image: url("/images/fondo.png");
    
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: flex;
    color: rgb(134, 132, 132);
}

img{
    width:80%;
    height: auto;
    object-fit: cover;
    transition: all 500ms;
    }
    img:hover{
        transform: scale(1.2);
    }


nav, .servicios, .presentacion, .footer-content{
    width: 80%;
    margin:auto;
}

.titulo-servicios, .presentacion{
    margin-bottom: 10%;
}

// VARIABLES

$font-p: 1.8rem;
$font-h1: 3.0rem;
$font-h2: 2.4rem;
$font-h3: 2.0rem;

p{
    font-size:$font-p;
    color: rgb(134, 132, 132);
}

h1{
    color: black;
}

h2{
    font-size: $font-h2;
    color: black;

}

h3{
    font-size: $font-h3;
    font-weight:lighter;
    color: black;
}

.btn{
    border: none;
    border-radius:2px;
    padding: 0.7em 1.5em;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size:1.5rem;
    font-weight: 500;
    transition: transform 100ms;
    &:hover{
        transform: scale(1.1);
    }
    
}



.btn-principal{
    @extend .btn;
    color: #fff;
    background-color: #6495ED;
}

.btn-secundario{
    @extend .btn;
    background-color:rgb(134, 132, 132);
}

//MIXINS;

@mixin caja-flex($principal, $cruzado, $wrap){
    display: flex;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
}

// FUNCIONES

@function font-calc($size, $type){

    $font: 16;

    @if $type ==h1{
        $font: ($size + 0.2*$size);
    }

    @if $type ==h2{
        $font: ($size + 0.1*$size);
    }

    @else{
        $font: 16;
    }

    @return $font + px;

}

.ejemplo{
    font-size: font-calc(50, h2);
}